.page {
   background-color: #2A2C2F;
   font-family: "Inter", Helvetica, Arial, sans-serif;
   width: 100%;
   margin: auto;
   -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   text-rendering: optimizeLegibility;
}

.header {
   box-sizing: border-box;
   max-width: 1184px;
   margin: 0 auto;
   padding-top: 28px;
   display: flex;
   justify-content: space-between;
   text-align: center;
   align-items: center;
}

.header__logo {
   max-width: 176px;
   max-height: 52px;
}

.header__lang-link {
   display: inline-block;
   max-width: 30px;
   color: #FFFFFF;
   font-style: normal;
   font-weight: 400;
   font-size: 24px;
   line-height: 28px;
   padding-left: 18px;
}

.header__lang-link_en {
   text-decoration: none;
}

.lead {
   box-sizing: border-box;
   max-width: 984px;
   margin: 0 auto;
   padding-top: 56px;
   display: flex;
   flex-direction: column;
}

.lead__title {
   max-width: 720px;
   margin: 0 auto;
   font-style: normal;
   font-weight: 900;
   font-size: 96px;
   line-height: 100px;
   text-align: center;
   color: #FFFFFF;
}

.lead__subtitle {
   max-width: 640px;
   min-height: 72px;
   margin: 0 auto;
   padding-top: 32px;
   padding-bottom: 64px;
   font-style: normal;
   font-weight: 400;
   font-size: 30px;
   line-height: 36px;
   text-align: center;
   color: #FFFFFF;
}

.lead__image {
   margin: 0;
   padding: 0;
   max-width: 984px;
   max-height: 615px;
}

.lead__caption {
   margin: 0;
   padding-top: 8px;
   font-style: normal;
   font-weight: 400;
   font-size: 10px;
   line-height: 14px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
   color: #FFFFFF;
}

.intro {
   box-sizing: border-box;
   max-width: 984px;
   margin: 0 auto;
}

.intro__title {
   margin: 0;
   max-width: 690px;
   padding-top: 92px;
   font-style: normal;
   font-weight: 900;
   font-size: 54px;
   line-height: 58px;
   color: #FFFFFF;
}

.intro__text {
   margin: 0;
   max-width: 690px;  
   padding-top: 40px;
   padding-bottom: 33px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 26px;
   color: #FFFFFF;
}

.intro__list {
   list-style-type: none;
   margin: 0;
   padding: 0;
   font-style: normal;
   font-weight: 700;
   font-size: 12px;
   line-height: 18px;
   color: #FFFFFF;
}

.photo-grid {
   max-width: 1184px;
   margin: 0 auto;
   padding: 92px 0;
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
   gap: 16px;
}

.photo-grid__item {
   max-width: 284px;
}

.places {
   box-sizing: border-box;
   margin: 0 auto;
   max-width: 984px;
   display: flex;
   flex-direction: column;
}

.place {
   display: grid;
   grid-template-columns: 460px 1fr;
   column-gap: 40px;
   row-gap: 48px;
   padding-bottom: 80px;
}

.place:last-child {
   padding-bottom: 92px;
}

.place__title {
   margin: 0;
   max-width: 460px;
   font-style: normal;
   font-weight: 900;
   font-size: 72px;
   line-height: 76px;
   color: #FFFFFF;
}

.place__website {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.place__url-heading {
   margin: 0;
   padding-bottom: 12px;
   max-width: 484px;
   width: 100%;
   font-style: normal;
   font-weight: 400;
   font-size: 12px;
   line-height: 12px;
   letter-spacing: 2px;
   color: #AAAAAA;
}

.place__link {
   display: inline-block;
   max-width: 484px;
   width: 100%;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   text-decoration-line: underline;
   color: #FFFFFF;
}

.place__image {
   max-width: 460px;
}

.place__paragraph {
   max-width: 484px;
   margin: 0;
   padding-bottom: 26px;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 29px;
   color: #FFFFFF;
}

.cover {
   max-width: 1184px;
   margin: 0 auto;
}

.cover__link {
   min-height: 740px;
   display: flex;
   flex-direction: column;
   background-image: url('./images/cover-trains.jpg');
   background-size: cover;
   text-decoration: none;
   position: relative;
}

.cover__link::before {
   content: '';
   display: block;
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   background-color: #2A2C2F;
   opacity: 0;
   transition: all 0.5s;
}

.cover__link:hover::before {
   opacity: 0.5;
}

.cover__title {
   margin: 0 auto;
   padding-top: 245px;
   max-width: 560px;
   font-style: normal;
   font-weight: 900;
   font-size: 72px;
   line-height: 76px;
   text-align: center;
   color: #FFFFFF;
   position: relative;
}

.cover__subtitle {
   margin: 0 auto;
   padding-top: 32px;
   max-width: 360px;
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 22px;
   text-align: center;
   color: #FFFFFF;
   position: relative;
}

.footer {
   box-sizing: border-box;
   margin: 0 auto;
   padding-top: 92px;
   padding-bottom: 24px;
   max-width: 1184px;
   display: flex;
   justify-content: space-between;
}

.footer__link {
   padding-right: 18px;
   font-style: normal;
   font-weight: 400;
   font-size: 16px;
   line-height: 18px;
   color: #FFFFFF;
   text-decoration: none;
}

.footer__copyright {
   margin: 0;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   color: #FFFFFF;
}

.link {
   transition: all 0.3s;
}

.link:hover {
   opacity: 0.8;
}